$primary:       #845EC2 !default;
$success:       #00C9A7 !default;
$info:          #008E9B !default;
$warning:       #FFC75F !default;
$danger:        #FF6F91 !default;

$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Sanchez", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
