@import 'concourse_font';

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

$font: 'Concourse', 'Nunito';
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, $font, Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$lead-font-weight: 300;

$headings-font-weight: 300;

$font-weight-lighter: lighter;
$font-weight-light: 200;
$font-weight-normal: 300;
$font-weight-bold: 400;
$font-weight-bolder: 600;

$font-size-base: 1.15rem;

$primary:       #845EC2 !default;
$success:       #00C9A7 !default;
$info:          #008E9B !default;
$warning:       #FFC75F !default;
$danger:        #FF6F91 !default;
