@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

@import "~@fortawesome/fontawesome-pro-webfonts/scss/fontawesome";

//$fa-font-path: "../fonts";

@import "~@fortawesome/fontawesome-pro-webfonts/scss/fa-brands";
@import "~@fortawesome/fontawesome-pro-webfonts/scss/fa-light";
@import "~@fortawesome/fontawesome-pro-webfonts/scss/fa-regular";
@import "~@fortawesome/fontawesome-pro-webfonts/scss/fa-solid";

@import "bootstrap";

body {
  padding-bottom: 2em;
}

footer {
  @extend .font-sm;

  padding-top: 10em;
}

.cover {
  padding-bottom: 2em;
}

.font-sm {
  font-size: $font-size-sm;
}

.btn {
  &.btn-link {
    &.btn-delete {
      margin-top: -5px;
      padding: 0 0px 0px;
      color: saturate(theme-color("danger"), 30%);
    }
  }

  &.btn-plain {
    &:hover, &:focus {
      color: theme-color("primary");
      border: 1px solid lighten(theme-color("primary"), 30%);
      background-color: transparent !important;
    }
  }
}

.inline {
  display: inline;
}

tr {
  &.bordered-bold {
    td {
      border-bottom: 1px solid gray("500");
    }
  }
}

.card-columns {
  @include media-breakpoint-only(xs) {
    column-count: 1;
  }

  @include media-breakpoint-only(sm) {
    column-count: 2;
  }

  @include media-breakpoint-only(md) {
    column-count: 2;
  }

  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 3;
  }
}

.bg-white {
  background-color: $white;
}